 //colors
  @mainColorGradient: linear-gradient(rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
  @mainColorGradientAqua: linear-gradient(rgba(109, 108, 183, 0.8), rgba(96, 160, 191, 0.8));
  @mainColor: #9333bf;
  @stickerColorGradient: linear-gradient(rgb(197, 68, 255), rgb(147, 51, 191));
  @green: #407a15;

//sizes
  @widthOfPizzaCard: 290px;
  @widthOfRightFixedDiv: 400px;
  @minWidthOfTheLeftMainDiv: 350px;
  @maxWidthOfTheInsidePartOfTheLeftMainDiv: 1000px;
  @heightOfTheTopFixedDiv: 100px;
  @widthOfSticker: 120px;
  @heightOfStickerBottom: 130px;

//borders
  @mainBorder: 4px dashed #407a15;
  @generalRoundness: 15px 0px 0px 15px;
  @borderColor: #407a15;

//text
  @mainFont: bold 25px Tahoma;
  @shadowToGoOverText: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  @fontForButton: bold 30px Tahoma;

//distances
  @distanceOfStickFromLeft: 20px;
  @distanceOfStickFromBottom: 5px;


@import "pizza/pizza-card";

body
{
  background-color: @mainColor;
  min-width: 430px;
}

.stickerTextInwards()
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rightFixedDiv
{
  position: fixed;
  display: -webkit-box;
  right:0;
  bottom: 0;
  z-index: 3;
  height: 100%;
  width:@widthOfRightFixedDiv;
  background: #8f55ff;
  background: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
  border-radius: @generalRoundness;

  #emptyBox
  {
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: @generalRoundness;
    border: @mainBorder;
    border-color: white;
  }

  .rightFixedDivTop
  {
    width: 100%;
    height: 70px;
    background: @mainColorGradientAqua;
    border: @mainBorder;
    border-radius: @generalRoundness;

    .standardFont
    {
      float: left;
      padding: 5px;
      margin: 5px;
    }

    .numberOfOrdered
    {
      display: inline-block;
      padding: 5px;
      border: @mainBorder;
      border-radius: @generalRoundness;
      margin: 5px;
      background: lighten(@mainColor, 35%);
    }

    .button
    {
      float: right;
      margin: 5px;
    }
  }

  .goods
  {
    overflow-y: scroll;
    overflow-x: visible;
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    right: 0;

    .houseInfoAboutChosenPizza
    {
      width: @widthOfRightFixedDiv - 17px;
      border: @mainBorder;
      border-radius: @generalRoundness;
      background-color: white;
      margin-top: 5px;

      .labelOnRight
      {
        margin: 10px;
        margin-bottom: 0;
        display: block;
        text-align: center;
        .standardFont
        {
          font-size: 18px;
        }
      }

      .explanationSymbols
      {
        display: block;
        text-align: center;
        margin-left: 0;
        font: @mainFont;
        font-size: 20px;
        color:@mainColor;

        .secondExplanationSymbol
        {
          margin-left: 20px;
        }
      }

      .barWithButtonsOnRight
      {
        margin: 10px;

        .sumToPayForOne
        {
          text-align: center;
          display: block;
          font: @mainFont;
          color: @mainColor;
        }

        .buttonsForAddSubtractCancelAmount
        {
          display: inline-block;
          margin-top: 10px;
          .subtract
          {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border: 4px dashed #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius:50%;
            font-family: "Comic Sans MS";
            font-weight: bold;
            font-size: 30px;
            background-color: #ff0000;
            color: white;
            margin-left: 90px;
          }

          .amount
          {
            display: inline-block;
            text-align: center;
            font: bold 20px Tahoma;
            margin-left: 10px;
            color: @mainColor;
          }

          .add
          {
            margin-left: 10px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border: 4px dashed #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius:50%;
            font-family: "Comic Sans MS";
            font-weight: bold;
            font-size: 30px;
            background-color: #407a15;
            color: white;
          }

          .cancel
          {
            margin-left: 40px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border: 4px dashed #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius:50%;
            font-family: "Comic Sans MS";
            font-weight: bold;
            font-size: 30px;
            background-color: #ff8a24;
            color: white;
          }

          .buttonOnRight
          {
            cursor: pointer;
            text-shadow: @shadowToGoOverText;
          }

          .buttonOnRight:hover
          {
            border: @mainBorder;

          }

          .buttonOnRight:active
          {
            color: @mainColor;
            background-color: white;
            text-shadow: none;
          }
        }

      }

      .housePicture
      {
        float: right;
        display: inline-block;

        .pizzaOnRight
        {
          width: 50px;
        }
      }
    }
  }

  .rightFixedDivBottom
  {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
    background: @mainColorGradientAqua;
    border: @mainBorder;
    border-radius: @generalRoundness;

    .standardFont
    {
      float: left;
      padding: 5px;
      margin: 5px;
    }

    .priceToPayNumber
    {
      display: inline-block;
      padding: 5px;
      border: @mainBorder;
      border-radius: @generalRoundness;
      margin: 5px;
      background: lighten(@mainColor, 35%);
    }

    .button
    {
      float: right;
      margin: 5px;
    }
  }
}
.leftMainDiv
{
  margin-right: @widthOfRightFixedDiv;
  display: flex;
  justify-content: center;
  min-width: @minWidthOfTheLeftMainDiv;
  background: @mainColorGradientAqua;
  border-radius: @generalRoundness;
  border:@mainBorder;

  .caption
  {
    padding: 0;
  }

  .numberOfDifferentPizza
  {
    color: @mainColor;
    margin-left: 10px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }

  .row
  {
    .caption
    {
      p.pizzaInfo
      {
        height: 65px;
        text-align: center;
      }
    }
  }
}

 .footer
 {
   margin-right: @widthOfRightFixedDiv;
   min-width: @minWidthOfTheLeftMainDiv;
   height: 100px;
   background-color: @mainColorGradientAqua;

   display: flex;
   justify-content: center;
   .standardFont
   {
     display: inline-block;
     font-size: 15px;
     align-self: center;
     border: @mainBorder;
     border-color: white;
     border-radius: @generalRoundness;
     padding: 5px;

   }
 }

.backHouseForPizzaCards
{
  align-self: center;
  .row
  {
    margin: 0 auto;
    border: 2px solid yellow;
    background-color: red;
    width: 100%;
    max-width: @maxWidthOfTheInsidePartOfTheLeftMainDiv;
    padding: 0;
  }
}
.pizzaInfo
{
  background: @mainColorGradient;
  border-radius: @generalRoundness;
  margin: 0;
  margin-bottom: 5px;
  border: @mainBorder;
  color: white;
}

@media all and (max-width: 416px)
{
  .rightFixedDiv
  {
    position: fixed;
    left: 0;
    top: 0;
  }
}

@media all and (max-width: 780px)
{
  .rightFixedDiv
  {
    right: 0;
    width: @widthOfRightFixedDiv;
  }

  .leftMainDiv
  {
    .navbar-brand
    {
      font-size: 15px !important;
    }

    .navbar
    {
      top: 55px;
    }

    .myNavigation.navbar-nav
    {
      li
      {
        font-size: 13px;
        margin: 0;
      }
    }
  }

  .stickerBottom
  {
    width: @widthOfSticker - 20px !important;
    height: @heightOfStickerBottom - 25px !important;
    .standardFont
    {
      font-size: 10px;
    }
    z-index: 2;
    transition: all 5s;
  }

  .stickerTop
  {
    width: @widthOfSticker - 20px !important;
    height: @heightOfStickerBottom - 25px !important;
    .standardFont
    {
      font-size: 10px;
    }
    z-index: 99;
  }

  .topFixedDiv
  {
    height: @heightOfTheTopFixedDiv - 50px !important;
    .topInfo
    {
      .button
      {
        position: absolute;
        top: -10px;
        right: 80px;
        font-size: 15px;
        margin:0 !important;
        padding: 0 !important;
      }
    }
  }

  .navbar
  {
    margin-top:@heightOfTheTopFixedDiv - 60px !important;
  }
}

@media all and (max-width: 873px)
{
  .topFixedDiv
  {
    .topInfo
    {
      .number
      {
        display: none;
      }
    }
  }
}

@media all and (max-width: 945px)
{
  .leftMainDiv
  {
    .navbar
    {
      margin-top:@heightOfTheTopFixedDiv - 5px;
    }
  }
}

@media all and (max-width: 1082px)
{
  .topFixedDiv
  {
    .topInfo
    {
      .time
      {
        display: none;
      }
    }
  }
}

 @media all and (max-width: 1000px)
 {
   .footer
   {
     justify-content: flex-end;
     .standardFont
     {

     }
   }
 }

 @media all and (max-width: 1140px)
 {
   .footer
   {

     .standardFont
     {
       font-size: 10px;
     }
   }
 }

@media all and (max-width: 1245px)
{
  .topFixedDiv
  {
    .topInfo
    {
      .freeDelivery
      {
        display: none;
      }
    }
  }
}

@media all and(max-width: 1370px)
{
  .leftMainDiv
  {
    .navbar-brand
    {
      font-size: 25px !important;
    }

    .myNavigation.navbar-nav
    {
      font-size: 10px !important;
    }
  }
}

@media all and(max-width: 1550px)
{
  .topFixedDiv
  {
    .standardFont
    {
      font-size: 15px;
    }

    .time, .freeDelivery
    {
      margin-left: 35px !important;
    }

    .button
    {
      font-size: 15px;
    }
  }
}

.roundH3InCaption
{
  border-radius: @generalRoundness;
  border: @mainBorder;
  margin: 0;
  margin-bottom: 5px;
  color: white;
}

.navbar-header
{
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;

  .navbar-brand
  {
    font:@mainFont;
    font-size: 40px;
    color: white;
    text-shadow: @shadowToGoOverText;
  }
}
.navbar-brand
{
  float:none;
}
.navbar-inner
{
  background:transparent;
}
.navbar-nav
{
  width: 100%;
  text-align: center;

  > li
  {
    float: none;
    display: inline-block;
  }

  li
  {
    color: white;
    font: @mainFont;
    font-size: 20px;
    border: @mainBorder;
    border-color: transparent;
    text-shadow: @shadowToGoOverText;
  }

  li:hover
  {
    color: white;
    font: @mainFont;
    font-size: 20px;
    text-shadow: @shadowToGoOverText;
    border-color: @borderColor;
    border-radius: @generalRoundness;
  }

  li:active
  {
    color: @mainColor;
    background-color: white;
    text-shadow: none;
  }
}

.topFixedDiv
{
  position: fixed;
  right: @widthOfRightFixedDiv;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: @minWidthOfTheLeftMainDiv;
  height: @heightOfTheTopFixedDiv;
  background: linear-gradient( rgba(16, 2, 13, 0.5), rgba(169,169,169, 0.8));
  border-radius: @generalRoundness;

  .topInfo
  {
    display: inline-block;
    margin-left: 50%;
    margin-top: 20px;
    width: 100%;
    transform: translate(-50%, -0%);

    .standardFont:nth-of-type(1)
    {
      margin-left: 180px;
    }

    .standardFont
    {
      border: 3px dashed white;
      margin: 20px;
      margin-left: 100px;
      padding: 5px;
      border-radius: @generalRoundness;
      text-align: center;
      float: left;
    }
    .button
    {
      padding: 5px;
      float: right;
      margin: 20px;
    }
    vertical-align: middle;
  }
}


.stickerTop
{
  transition: all 5s;
  display: inline-block;
  position: fixed;
  top: @distanceOfStickFromBottom;
  left: @distanceOfStickFromLeft;
  width: @widthOfSticker;
  height: @heightOfTheTopFixedDiv + 10px;
  background: @stickerColorGradient;
  z-index: 3;
  .standardFont
  {
    .stickerTextInwards();
    font-size: 20px;
  }
  border: @mainBorder;
  border-radius: @generalRoundness;
}

.navbar
{
  margin-top:@heightOfTheTopFixedDiv - 20px;
}

.standardFont
{
  font: @mainFont;
  color: white;
  text-shadow: @shadowToGoOverText;
  display: inline-block;
  transition: all 5s;
}

.button
{
  display:inline-block;
  padding: 5px;
  color: white;
  font: @mainFont;
  border: @mainBorder;
  border-color: transparent;
  text-shadow: @shadowToGoOverText;
  cursor: pointer;
  text-align: center;
}

.button:hover
{
  border-radius: @generalRoundness;
  border: @mainBorder;
}

.button:active
{
  color: @mainColor;
  background-color: white;
  text-shadow: none;
}

.mainBuyDiv
{
  height: 160px;
  border: @mainBorder;
  color: @mainColor;
  border-radius: @generalRoundness;

  .left
  {
    width: 50%;
    float: left;
  }

  .right
  {
    width: 50%;
    float: right;
  }

  .explanationSymbols
  {
    text-align: center;
    padding: 10px;
    font: @mainFont;
    font-size: 20px;
  }
}

.fixBottom::after
{
  visibility:	hidden;
  display: block;
  content: "";
  height:	0;
  clear:	both;
}

.stickerBottom
{
  position: fixed;
  bottom: @distanceOfStickFromBottom;
  left: @distanceOfStickFromLeft;
  width: @widthOfSticker;
  height: @heightOfStickerBottom;
  border-radius: @generalRoundness;
  border: @mainBorder;
  border-width: 5px;
  background: @stickerColorGradient;
  transition: all 5s;
  .standardFont
  {
    .stickerTextInwards();
    font-size: 20px;
  }
}

.icon-bar
{
  background-color:#FF0000 !important;
  margin-left: 20px;
}

.standardBtn:before
{
  opacity: 0;
  content: attr(data-tooltip);
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color:white;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 5px;

  border: 1px dashed #000000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
  transition:all 1s linear;
}

.standardBtn[data-tooltip]:not([data-tooltip=""]):hover:before
{
  opacity: 1;
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: 20px;
  border-radius: @generalRoundness;
  border: 1px dashed #000000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.standardBtn
{
  position: relative;
}

#denyOrdered.standardBtn[data-tooltip]:not([data-tooltip=""]):hover:before
{
  bottom: 10%;
  left: -40%;
}

.labelForSpecialCase
{
  padding: 5px;
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 10px;
  margin: 0 auto;
  border: @mainBorder;
  border-radius: @generalRoundness;
  background: radial-gradient(rgba(45, 174, 238, 0.8) 20%, rgba(125, 174, 238, 0.5) 30%);
  text-shadow: @shadowToGoOverText;
  font: @mainFont;
  color: @borderColor;
  transition: all 5s;
}

.rotate
{
  transform: rotate(720deg);
  border-color: yellow;
  box-shadow: 0 0 3pt 2pt black;
  color: yellow;
}

.thumbnail
{
  position: relative;
}

.scale
{
  transform: scale(1.5) translate(100px) rotate(360deg);
  border-color: yellow;
  box-shadow: 0 0 3pt 2pt black;
  .standardFont
  {
    color: yellow;
  }
  background: radial-gradient(rgba(45, 174, 238, 0.8) 20%, rgba(125, 174, 238, 0.5) 30%);
}

.sortBtnClicked
{
  color: @mainColor;
  border-color: @borderColor;
  border-radius: @generalRoundness;
  background-color: white;
  text-shadow: none;
}


 .leftMainDivForOrder
{
  margin-right: @widthOfRightFixedDiv;
  display: flex;
  min-width: @minWidthOfTheLeftMainDiv;
  background: @mainColorGradientAqua;
  border-radius: @generalRoundness;
  border: @mainBorder;
  color: white;
  text-shadow: @shadowToGoOverText;
  font-size: 20px;

  .firstLabel
  {
    padding-left: 80px;
  }

  > .row
  {
    margin-top: @heightOfTheTopFixedDiv + 50px;
  }

  input[type="text"]
  {
    border: @mainBorder;
    border-radius: @generalRoundness;
    outline: none;
    color: black;
    text-align: left;
    transition: border-color 2s;
  }

  [class*="col-"]
  {
    margin-bottom: 15px;
  }

  .orderInfo
  {
    border:@mainBorder;
    border-color: white;
    padding: 10px;
    border-radius: @generalRoundness;
    background: @mainColor;
    text-align: center;
    .orderLabel
    {
      font-size: 25px;
    }
  }

   .standardBtn
   {
     display: inline-block;
     margin-top: 10px;
     border: @mainBorder;
     border-color: transparent;
     padding: 5px;
   }

   .standardBtn:hover
   {
     border: @mainBorder;
     border-radius: @generalRoundness;
   }


   .standardBtn:active
   {
     background-color: white;
     border: @mainBorder;
     border-radius: @generalRoundness;
     color: @mainColor;
     text-shadow: none;
   }

   .googleMap
   {
     height: 500px;
     overflow: hidden;
     text-shadow: none !important;
     border-radius: @generalRoundness !important;
     border: @mainBorder;
     border-color: white;
     margin: 5px;
     margin-bottom: 0px;
   }
}


@media all and(max-width: 992px)
{
  .leftMainDivForOrder
  {
    input[type="text"]
    {
      margin-left: 20px;
    }

    .validationBox
    {
      .text-sm-left
      {
        text-align: left;
        margin-left: 20px;
      }
    }
  }
}


 .standardBtn:hover
 {
   cursor: pointer;
 }

.ordered
{
  .buttonOnRight
  {
    display: none !important;
  }

  .sumToPayForOne
  {
    display: inline-block !important;
    margin-left: 90px;
  }

  .amount:before
  {
    content: '(';
  }

  .amount:after
  {
    content: ')';
  }

  #denyOrdered
  {
    display: none;
  }

  .rightFixedDivTop
  {
    > .standardFont
    {
      margin-left: 70px;
    }
  }

  .rightFixedDivBottom
  {
    height: 120px;

    .button
    {
      float: none;
      padding: 5px;
    }

    > .standardFont
    {
      margin-left: 30px;
    }
  }
}


.leftMainDivForOrder .validationBox
{
  .invalidName
  {
    color: red;
    font-size: 20px;
  }

  .wrongInpBorder
  {
    border-color: red !important;
  }
}

.displayNone
{
  display: none;
}


.righted
{
  text-align: right;
}
































.centered
{
  text-align: center;
}





















