//colors
@mainColorGradient: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
@mainColorGradientAqua: linear-gradient( rgba(109, 108, 183, 0.8), rgba(96, 160, 191, 0.8));
@mainColor: #9333bf;

//sizes
@widthOfPizzaCard: 290px;
@widthOfRightFixedDiv:400px;
@minWidthOfTheLeftMainDiv:350px;
@maxWidthOfTheInsidePartOfTheLeftMainDiv:1000px;
@heightOfTheTopFixedDiv:150px;
@widthOfSticker: 140px;

//borders
@mainBorder: 4px dashed #407a15;
@generalRoundness: 15px 0px 0px 15px;
@borderColor: #407a15;

//text
@mainFont: bold 25px Tahoma;
@shadowToGoOverText: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;


@import "pizza/pizza-card";

.rightFixedDiv
{
  position: fixed;
  right:0;
  bottom: 0;
  height: 100%;
  width:@widthOfRightFixedDiv;
  background: #8f55ff;
  background: linear-gradient( rgba(133, 9, 183, .8), rgba(147, 51, 191, .8));
  border-radius: @generalRoundness;

  .rightFixedDivTop
  {
    height: 70px;
    background: @mainColorGradientAqua;
    border: @mainBorder;
    border-radius: @generalRoundness;

    .standardFont
    {
      float: left;
      padding: 5px;
      margin: 5px;
    }

    .numberOfOrdered
    {
      display: inline-block;
      padding: 5px;
      border: @mainBorder;
      border-radius: @generalRoundness;
      margin: 5px;
      background: lighten(@mainColor, 35%);
    }

    .button
    {
      float: right;
      margin: 5px;
    }
  }

  .rightFixedDivBottom
  {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 70px;
    background: @mainColorGradientAqua;
    border: @mainBorder;
    border-radius: @generalRoundness;

    .standardFont
    {
      float: left;
      padding: 5px;
      margin: 5px;
    }

    .priceToPayNumber
    {
      display: inline-block;
      padding: 5px;
      border: @mainBorder;
      border-radius: @generalRoundness;
      margin: 5px;
      background: lighten(@mainColor, 35%);
    }

    .button
    {
      float: right;
      margin: 5px;
    }
  }

}
.leftMainDiv
{
  margin-right: @widthOfRightFixedDiv;
  display: flex;
  justify-content: center;
  min-width: @minWidthOfTheLeftMainDiv;
  .caption
  {
    padding: 0;
  }

  background: @mainColorGradientAqua;
  border-radius: @generalRoundness;
  border:@mainBorder;
}
.backHouseForPizzaCards
{
  align-self: center;
  .row
  {
    margin: 0 auto;
    border: 2px solid yellow;
    background-color: red;
    width: 100%;
    max-width: @maxWidthOfTheInsidePartOfTheLeftMainDiv;
    padding: 0;
  }
}
.pizzaInfo
{
  background: @mainColorGradient;
  border-radius: @generalRoundness;
  margin: 0;
  margin-bottom: 5px;
  border: @mainBorder;
  color: white;
}

@media all and (max-width: 750px)
{
  .rightFixedDiv
  {
    left: @minWidthOfTheLeftMainDiv;
  }
}

.roundH3InCaption
{
  border-radius: @generalRoundness;
  border: @mainBorder;
  margin: 0;
  margin-bottom: 5px;
  color: white;
}

.navbar-header
{
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;

  .navbar-brand
  {
    font:@mainFont;
    font-size: 40px;
    color: white;
    text-shadow: @shadowToGoOverText;
  }
}
.navbar-brand
{
  float:none;
}
.navbar-inner
{
  background:transparent;
}
.navbar-nav
{
  width: 100%;
  text-align: center;

  > li
  {
    float: none;
    display: inline-block;
  }

  li
  {
    color: white;
    font: @mainFont;
    border: @mainBorder;
    border-color: transparent;
    text-shadow: @shadowToGoOverText;
  }

  li:hover
  {
    color: @mainColor;
    border-color: @borderColor;
    border-radius: @generalRoundness;
    background-color: white;
    text-shadow: none;
  }
}

.topFixedDiv
{
  position: fixed;
  right: @widthOfRightFixedDiv;
  top: 0;
  left: 0;

  z-index: 4;
  min-width: @minWidthOfTheLeftMainDiv;
  height: @heightOfTheTopFixedDiv;
  background: linear-gradient( rgba(16, 2, 13, 0.5), rgba(169,169,169, 0.8));
  border-radius: @generalRoundness;

  .row
  {
    border: 3px dashed white;
    margin: 20px;
    padding: 10px;
    padding-bottom: 0;
    border-radius: @generalRoundness;
  }

  .leftPlaceForStickerOnLeft
  {
    margin-left: @widthOfSticker;
  }

  .standardFont
  {
    padding: 5px;
    padding-left: 0;
    vertical-align: center;
  }

  .stickerTop
  {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: @widthOfSticker;
    height: @heightOfTheTopFixedDiv + 10px;
    background-color: red;
    float: left;

    border: @mainBorder;
    border-radius: @generalRoundness;
  }
}

.navbar
{
  margin-top:@heightOfTheTopFixedDiv;
}

.standardFont
{
  font: @mainFont;
  color: white;
  text-shadow: @shadowToGoOverText;
  display: inline-block;
}

.button
{
  display:inline-block;
  padding: 5px;
  color: white;
  font: @mainFont;
  border: @mainBorder;
  border-color: transparent;
  text-shadow: @shadowToGoOverText;
  cursor: pointer;
  text-align: center;
}

.button:hover
{
  color: @mainColor;
  border-color: @borderColor;
  border-radius: @generalRoundness;
  background-color: white;
  text-shadow: none;
  border: @mainBorder;
}