<div class="leftMainDiv">
    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <span class="navbar-brand">All kinds of pizza<span class="numberOfDifferentPizza">8</span></span>
            </div>

            <ul class="nav navbar-nav myNavigation">
                <li class="btn standardBtn" id="showAll" data-tooltip="Show all pizza">All</li>
                <li class="btn standardBtn" id="showMeat" data-tooltip="Show meat pizza">Meat taste</li>
                <li class="btn standardBtn" id="showPineapple" data-tooltip="Show pineapple pizza">Pineapple taste</li>
                <li class="btn standardBtn" id="showMushroom" data-tooltip="Show mushroom pizza">Mushroom taste</li>
                <li class="btn standardBtn" id="showSeafood" data-tooltip="Show seafood pizza">Seafood taste</li>
                <li class="btn standardBtn" id="showVegetarian" data-tooltip="Show vegetarian pizza">Vegetarian</li>
            </ul>
        </div>

        <div class="row" id="pizza_list">

        </div>

    </nav>
</div>