<div class="rightFixedDiv ordered">
    <div class="rightFixedDivTop">
        <div class="standardFont">Ordered</div>
        <div class="numberOfOrdered standardFont" id="numberOfOrdered"></div>
        <div class="button standardBtn" id="denyOrdered" data-tooltip="Clear basket">Deny ordered</div>
    </div>

    <div class="goods" id="cart">
        <div class="houseInfoAboutChosenPizza">

            <div class="housePicture">
                <img src="assets/images/pizzaOnRight.png" class="pizzaOnRight">
            </div>

            <div class="labelOnRight">
                <div class="standardFont">BBQ(Small)</div>
            </div>

            <div class="explanationSymbols">
                <img src="assets/images/size-icon.svg"> 34
                <img src="assets/images/weight.svg" class="secondExplanationSymbol"> 34</br>
            </div>

            <div class="barWithButtonsOnRight">
                <div class="sumToPayForOne">
                    100$
                </div>

                <div class="buttonsForAddSubtractCancelAmount">
                    <div class="subtract buttonOnRight standardBtn" data-tooltip="Decrease amount">
                        -
                    </div>

                    <div class="amount">
                        77
                    </div>

                    <div class="add buttonOnRight standardBtn" data-tooltip="Increase amount">
                        +
                    </div>

                    <div class="cancel buttonOnRight standardBtn" data-tooltip="Cancel ordering">
                        ×
                    </div>
                </div>
            </div>

        </div>
        <div class="houseInfoAboutChosenPizza">

            <div class="housePicture">
                <img src="assets/images/pizzaOnRight.png" class="pizzaOnRight">
            </div>

            <div class="labelOnRight">
                <div class="standardFont">BBQ(Small)</div>
            </div>

            <div class="explanationSymbols">
                <img src="assets/images/size-icon.svg"> 34
                <img src="assets/images/weight.svg" class="secondExplanationSymbol"> 34</br>
            </div>

            <div class="barWithButtonsOnRight">
                <div class="sumToPayForOne">
                    100$
                </div>

                <div class="buttonsForAddSubtractCancelAmount">
                    <div class="subtract buttonOnRight standardBtn" data-tooltip="Decrease amount">
                        -
                    </div>

                    <div class="amount">
                        77
                    </div>

                    <div class="add buttonOnRight standardBtn" data-tooltip="Increase amount">
                        +
                    </div>

                    <div class="cancel buttonOnRight standardBtn" data-tooltip="Cancel ordering">
                        ×
                    </div>
                </div>
            </div>

        </div>
        <div class="houseInfoAboutChosenPizza">

            <div class="housePicture">
                <img src="assets/images/pizzaOnRight.png" class="pizzaOnRight">
            </div>

            <div class="labelOnRight">
                <div class="standardFont">BBQ(Small)</div>
            </div>

            <div class="explanationSymbols">
                <img src="assets/images/size-icon.svg"> 34
                <img src="assets/images/weight.svg" class="secondExplanationSymbol"> 34</br>
            </div>

            <div class="barWithButtonsOnRight">
                <div class="sumToPayForOne">
                    100$
                </div>

                <div class="buttonsForAddSubtractCancelAmount">
                    <div class="subtract buttonOnRight standardBtn" data-tooltip="Decrease amount">
                        -
                    </div>

                    <div class="amount">
                        77
                    </div>

                    <div class="add buttonOnRight standardBtn" data-tooltip="Increase amount">
                        +
                    </div>

                    <div class="cancel buttonOnRight standardBtn" data-tooltip="Cancel ordering">
                        ×
                    </div>
                </div>
            </div>

        </div>
        <div class="houseInfoAboutChosenPizza">

            <div class="housePicture">
                <img src="assets/images/pizzaOnRight.png" class="pizzaOnRight">
            </div>

            <div class="labelOnRight">
                <div class="standardFont">BBQ(Small)</div>
            </div>

            <div class="explanationSymbols">
                <img src="assets/images/size-icon.svg"> 34
                <img src="assets/images/weight.svg" class="secondExplanationSymbol"> 34</br>
            </div>

            <div class="barWithButtonsOnRight">
                <div class="sumToPayForOne">
                    100$
                </div>

                <div class="buttonsForAddSubtractCancelAmount">
                    <div class="subtract buttonOnRight standardBtn" data-tooltip="Decrease amount">
                        -
                    </div>

                    <div class="amount">
                        77
                    </div>

                    <div class="add buttonOnRight standardBtn" data-tooltip="Increase amount">
                        +
                    </div>

                    <div class="cancel buttonOnRight standardBtn" data-tooltip="Cancel ordering">
                        ×
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="emptyBox" class="standardFont">
        Bon appetit !
    </div>

    <div class="rightFixedDivBottom">
        <div class="standardFont">Price to pay:</div>
        <div class="priceToPayNumber standardFont" id="totalSumToPay"></div>
        <div class="centered"><a href="index.html"><div class="button">Change order</div></a></div>
    </div>
</div>