<div class="topFixedDiv">

    <div class="topInfo">
        <div class="standardFont number">(777)-777-777-7</div>

        <div class="standardFont time">24 hours & 7 days</div>

        <div class="standardFont freeDelivery">Free delivery</div>

        <div class="button">Log In</div>

    </div>
</div>